<!-- First section for Data Entry -->

<div class="container pt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="contact-info">
        <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
        <h2>Contact Us</h2>
        <h4>We would love to hear from you !</h4>
      </div>
    </div>
    <div class="col-md-9">
      <div class="contact-form">
        <div class="form-group">
          <label class="control-label col-sm-2" for="fname">First Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname"
              [(ngModel)]="personObj.fname">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="lname">Last Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname"
              [(ngModel)]="personObj.lname">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
              [(ngModel)]="personObj.email">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="address">Address</label>
          <div class="col-sm-10">
            <input type="address" class="form-control" id="address" placeholder="Enter adress" name="address"
              [(ngModel)]="personObj.address">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="comment">Comment:</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="comment" [(ngModel)]="personObj.notes"></textarea>
          </div>
        </div>
        <div class="form-group mt-3">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" (click)="storeData()">{{this.selectedIndex === -1 ? 'Save' :
              'Update'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second Section for Sumbit Data -->

<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage <b>Users</b></h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <span class="custom-checkbox">
                <input type="checkbox" id="selectAll">
                <label for="selectAll"></label>
              </span>
            </th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Notes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of personList,let i= index">
            <td>
              <span class="custom-checkbox">
                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                <label for="checkbox1"></label>
              </span>
            </td>
            <td>{{x.fname}}{{x.lname}}</td>
            <td>{{x.email}}</td>
            <td>{{x.address}}</td>
            <td>{{x.notes}}</td>
            <td *ngIf="userType == '0'">

              <button class="btn btn-danger bt-sm" type="button"
                (click)="deleteList(i)"><i class="fa-solid fa-trash"></i></button>
              <button class="btn btn-primary mt-1 " type="button"
                (click)="editList(i)"><i class="fa-solid fa-pen-to-square"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>